div(class='col-sm-6 col-md-4 ' + event.metadata.category)
  if event.metadata.thumb
    .thumbnail
      img(src=event.metadata.thumb)
  .caption
    h3= event.title
    h4= event.metadata.date
    h5.location= event.metadata.location
    p!= event.html
